/* #fokep{
    background-image:url(kepek/jumbotron1112.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
     */
 /* } */
 #fokep{
    height: 500px;
    width: 1500px;
    display: block;
    margin: 0 auto;
    
}
#logok{
    text-align: center;
    display: block;
    margin: 0 auto;
    ;
}

a{
    color:#000;
    text-decoration: none;
}

a:hover{
    color: rgb(34, 109, 34);
}

.nav-link{
    font-size: 22px;
    color: #000;
}

.nav-link:hover{
    color: rgb(34, 109, 34);
}

#logo img{
    float: left;
}
#logo p{
    float: left;
    font-size: 24px;
    margin-top: 20px;