body{
    font-size: 22px;
    background-image: url("kepek/indexbg2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
#navalatt{
    margin-left: 10vw;
    margin-right: 10vw;
}

.nav-link{
    font-size: 22px;
    color: #000;
}

#esportcim{
    font-weight: bold;
    font-size: 25px;
}

#nav{
    padding-right: 10vw;
    padding-left: 10vw;
}

table{
    border: 3px solid rgb(83, 83, 203);
    font-size: 25px;
    margin: 0 auto;
}
h1{
    margin: 20px;
    text-align: center;
    font-size: 35px;
    border: 3px solid rgb(83, 83, 203);
}
h3{
    border: 3px solid rgb(83, 83, 203);
    margin-top: 10px;
    margin-bottom: 10px;
}
#fokep{
    background-position: center;
    background-size: cover;
    width: 78vw;
    
}

